

.menu {
    display: none;
}

.footer {
    display: none;
}
@page {
    margin: 0.5cm;
}

body {
    font: 12pt Georgia, "Times New Roman", Times, Serif;
    line-height: 1.3;
}
picture {
    display: none;
}

ul li a{
    list-style-type: none;
}

.header:before {
    display: block;
    content: "Takk for at du printer ut min artikkel fra itstud.hiof.no";
    margin-bottom: 10px;
    border: 1px solid black;
    font-style: italic;
    padding: 3px 5px;
}
aside {
    border-top: 1px solid black;
    margin-top: 30px;
    display: block;
    page-break-before: always;
}